* { margin: 0; padding: 0; border: 0; outline: none; font: inherit; vertical-align: baseline; text-decoration: none; box-sizing: border-box; -webkit-appearance: none; }
img { vertical-align: bottom; border: 0; }
ol, ul { list-style: none; }
table, tr, td, th { border-collapse: collapse; border-spacing: 0; }
html, body { width: 100%; height: 100%; }
body { font-family: sans-serif; font-size: 1em; color: #333; display: flex; }

.monitoring-wrapper { width: 732px; height: 483px; overflow: auto; margin: auto; }
.monitoring {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:repeat(244, 3px);
    grid-template-rows: repeat(161, 3px);
}

.m-bold { font-weight: bold; }
.m-number { font-size: 1.1em; }
.m-small-text { font-size: 0.8em; }

.m-flex { display: flex; flex-wrap: wrap; padding: 6px; border-radius: 16px; }
.m-icon { width: 48px; height: 48px; margin: 12px auto 4px auto; }
.m-icon.m-icon-small { width: 48px; height: 48px; }
.m-icon.energy-hub { background: url("images/icon-energy-hub.png") no-repeat center center / contain;}
.m-icon.solar-panels { background: url("images/icon-solar-panels.png") no-repeat center center / contain;}
.m-icon.wind-turbines { background: url("images/icon-wind-turbines.png") no-repeat center center / contain;}
.m-icon.e-fleet { background: url("images/icon-e-fleet.png") no-repeat center center / contain;}
.m-icon.office { background: url("images/icon-office.png") no-repeat center center / contain;}
.m-icon.crane { background: url("images/icon-crane.png") no-repeat center center / contain;}
.m-title, .m-row { flex-basis: 100%; }
.m-title { text-transform: uppercase; font-weight: bold; text-align: center; }
.m-row { display: flex; }
.m-row.m-row-title { margin: 6px 0 1px 0; }
.m-row.m-row-value { margin: 0 0 auto 0; }
.m-row > div { flex: 1; }

.m-title-50 { width: 50%; text-align: center; }
.m-text { flex-grow: 1; text-align: center; margin: auto; }
.energy-hub { grid-area: 20 / 75 / 100 / 175; background: #dde9f9; }
.wind-turbines { grid-area: 5 / 1 / 55 / 56; background: #fcfdc1; }
.solar-panels { grid-area: 5 / 194 / 55 / 244; background: #fcfdc1; }
.e-fleet { grid-area: 115 / 102 / 161 / 142; background: #f4e7ff; }
.crane { grid-area: 115 / 51 / 161 / 91; background: #f4e7ff; }
.office { grid-area: 115 / 152 / 161 / 192; background: #f4e7ff; }

.pipe { background: #eaeaea; }
.pipe.in { grid-area: 1 / 100 / 20 / 103; }
.pipe.out { grid-area: 1 / 147 / 20 / 150; }
.pipe.wind { grid-area: 37 / 56 / 40 / 75; }
.pipe.solar { grid-area: 37 / 175 / 40 / 194; }
.pipe.crane { grid-area: 100 / 83 / 115 / 86; }
.pipe.e-fleet { grid-area: 100 / 106 / 115 / 109; }
.pipe.office { grid-area: 100 / 157 / 115 / 160; }
